<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>top</title>
</head>
<body background="{{i_back}}">

    <h1>
        <font color="white">Игры</font>
    </h1>
    <font color="white">
    <ol>
        <li>
            {{p_rdr}}
             <a href="{{i_rdr}}">
                <button>Купить</button>
            </a>
        </li>

        <li>
            {{p_gow}}
            <a href="{{i_gow}}">
                <button>Купить</button>
            </a>
        </li>

        <li>
            {{p_hzd}}
            <a href="{{i_hzd}}">
                <button>Купить</button>
            </a>
        </li>
    </ol>

    <a href="{{mp}}">
        <button>Вернуться обратно</button>
    </a>
    </font>
</body>
</html>